html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 60%;
  text-decoration-skip: ink; }
  @media only screen and (min-width: 601px) and (max-width: 799px) {
    html {
      font-size: 64%; } }
  @media only screen and (min-width: 800px) {
    html {
      font-size: 75%; } }

body {
  margin: 0; }

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 3.375rem; }
  @media only screen and (min-width: 800px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 2.25rem; }

p {
  font-size: 1.5em;
  line-height: 2.5rem; }

a {
  color: #000; }
  a:visited {
    color: #000; }

.anchor {
  color: inherit;
  cursor: default;
  text-decoration: none; }
  .anchor:visited {
    color: inherit; }

.nav {
  width: 90%;
  font-size: 2rem;
  margin: 3rem auto 0 auto;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .nav {
      width: 73%;
      max-width: 924px;
      text-align: start; } }

@media only screen and (min-width: 600px) {
  .nav + .page header {
    margin-top: 6rem; } }

.page {
  width: 100%;
  margin-top: 3rem; }

h1 + p, h2 + p {
  margin-top: 1.5rem;
  margin-bottom: 2rem; }
.item h1 + p, .item h2 + p {
  margin-bottom: 0; }

header {
  margin: 0 5% 3rem 5%; }
  @media only screen and (min-width: 600px) {
    header {
      margin: 10rem auto 5rem auto;
      width: 73%;
      max-width: 924px; } }
  header img {
    width: 8rem;
    height: 8rem; }
  header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3.375rem; }
  header .subtitle {
    margin-top: 1.5rem; }
  @media only screen and (max-width: 450px) {
    header div:last-child {
      width: 100%; } }
  @media only screen and (min-width: 800px) {
    header img {
      width: 12rem;
      height: 12rem; }
    header .subtitle {
      font-size: 2rem; } }

.home header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .home header {
      text-align: start; } }
  .home header h1 {
    margin-top: 2rem; }
  .home header .subtitle {
    margin-top: 1rem;
    margin-bottom: 0; }
  @media only screen and (min-width: 450px) {
    .home header h1 {
      margin-top: 0; }
    .home header img {
      margin-right: 2rem; } }

.two-col {
  overflow: auto;
  clear: both;
  margin-left: 5%;
  margin-right: 5%; }
  @media only screen and (min-width: 600px) {
    .two-col {
      width: 73%;
      max-width: 924px;
      margin: 0 auto; } }
  .two-col.picture-group {
    margin-bottom: 5%; }
    @media only screen and (min-width: 600px) {
      .two-col.picture-group {
        margin-bottom: 1.77755%; } }
    @media only screen and (min-width: 924px) {
      .two-col.picture-group {
        margin-bottom: 22.9449px; } }

.picture-group h2 {
  margin: 0; }
  .picture-group h2.colour-1 {
    color: #ffffff;
    padding: 1rem;
    background: #005AFF; }
    .picture-group h2.colour-1 + p {
      padding: 0 1rem; }
  .picture-group h2.colour-2 {
    color: #ffffff;
    padding: 1rem;
    background: #FF004C; }
    .picture-group h2.colour-2 + p {
      padding: 0 1rem; }
  .picture-group h2.colour-3 {
    color: #000000;
    padding: 1rem;
    background: #00FFE4; }
    .picture-group h2.colour-3 + p {
      padding: 0 1rem; }
  .picture-group h2.colour-4 {
    color: #000000;
    padding: 1rem;
    background: #00FFBB; }
    .picture-group h2.colour-4 + p {
      padding: 0 1rem; }
  .picture-group h2.colour-5 {
    color: #000000;
    padding: 1rem;
    background: #FFEF00; }
    .picture-group h2.colour-5 + p {
      padding: 0 1rem; }

.picture-group.colour-1 {
  border-bottom: 5px solid #005AFF; }
.picture-group.colour-2 {
  border-bottom: 5px solid #FF004C; }
.picture-group.colour-3 {
  border-bottom: 5px solid #00FFE4; }
.picture-group.colour-4 {
  border-bottom: 5px solid #00FFBB; }
.picture-group.colour-5 {
  border-bottom: 5px solid #FFEF00; }

.item {
  width: 100%;
  margin-bottom: 5.5555555556%; }
  @media only screen and (min-width: 600px) {
    .item {
      margin-bottom: 2.6%;
      width: 48.7%; } }
  .item img {
    width: 100%; }

.float-auto:nth-child(odd) {
  float: left; }

.float-auto:nth-child(even) {
  float: right; }
  @media only screen and (min-width: 600px) {
    .float-auto:nth-child(even) {
      text-align: right; } }

.float-right {
  float: right; }

.float-left {
  float: left; }

.img-placeholder {
  position: relative;
  width: 100%; }
  .img-placeholder img {
    position: absolute; }

.icon-home {
  width: 3rem;
  height: 3rem; }

.icon-back {
  width: 3rem;
  height: 2rem; }

.button-back {
  display: inline-block;
  margin-right: 2rem; }
  @media only screen and (min-width: 600px) {
    .button-back {
      margin-right: 4rem;
      margin-left: -7.4rem; } }
  .button-back + h1 {
    display: inline-block; }

.background-1 {
  background: #005AFF; }

.background-2 {
  background: #FF004C; }

.background-3 {
  background: #00FFE4; }

.background-4 {
  background: #00FFBB; }

.background-5 {
  background: #FFEF00; }

.bordered-1--bottom {
  border-bottom: 5px solid #005AFF; }

.bordered-2--bottom {
  border-bottom: 5px solid #FF004C; }

.bordered-3--bottom {
  border-bottom: 5px solid #00FFE4; }

.bordered-4--bottom {
  border-bottom: 5px solid #00FFBB; }

.bordered-5--bottom {
  border-bottom: 5px solid #FFEF00; }
