:root {
  --background-body: #fffaf7;
  --background-img-placeholder: #000;
  --text-color-body: #000;
  --text-size-s: 1.125rem;
  --text-size-m: 1.5rem;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

html {
  color: var(--text-color-body);
  background: var(--background-body);
  font-family: filson-pro, sans-serif;
  font-size: 100%;
}

@media only screen and (max-width: 30rem) {
  html {
    font-size: 80%;
  }
}

body {
  margin: 0;
  font-weight: var(--weight-regular);
}

h1 {
  font-size: var(--text-size-m);
  font-weight: var(--weight-medium);
}

button,
div,
input,
li,
p {
  font-size: var(--text-size-m);
}

p {
  line-height: 2.5rem;
}

b {
  font-weight: var(--weight-bold);
}

a,
a:hover,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.col--main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 1.875rem;
}

.header {
  margin-top: 6.25rem;
  margin-bottom: 5rem;
}

.header__title {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.header__back {
    --spacing: 1.25rem;
    margin-right: var(--spacing);
}

@media screen and (min-width: 69rem) {
  .header__back {
    display: block;
    margin-left: calc(-1.625rem - var(--spacing));
  }
}

.header__back img {
  width: 2rem;
}

.header__subtitle {
  font-size: var(--text-size-s);
  margin-top: 0.625rem;
}

.home__nav {
  padding: 0;
  display: flex;
}

.home__nav__item {
  list-style: none;
}

.home__nav__item:not(:first-child) {
  margin-left: 1.875rem;
}

.home__nav__item a {
  border-bottom: 3px solid currentColor;
  padding-bottom: 1px;
  text-decoration: none;
  transition: border-bottom-color 0.1s ease-in-out;
}

.home__nav__item a:hover {
  border-bottom-color: transparent;
}

@media only screen and (min-width: 580px) {
  .photo-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 960px) {
  .photo-list {
    justify-content: space-between;
  }
}

.photo-list__item {
  margin-top: 6.25rem;
  width: 256px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 580px) {
  .photo-list__item {
    text-align: center;
    width: 100%;
  }
}

.photo-list__item:nth-child(1) {
  margin-top: 0;
}

@media only screen and (min-width: 580px) {
  .photo-list__item:nth-child(2) {
    margin-top: 0;
  }
}

@media only screen and (min-width: 816px) {
  .photo-list__item:nth-child(3n+2):last-child {
    flex: 2;
    display: flex;
    margin-left: 10%;
    justify-content: left;
  }

  .photo-list__item:nth-child(3) {
    margin-top: 0;
  }
}

.photo-list__item a {
  text-decoration: none;
}

.photo-list__item img {
  display: block;
  position: absolute;
}

.photo-list__img-placeholder {
  position: relative;
  background: var(--background-img-placeholder);
}

.photo-list__item__label {
  display: block;
  font-size: var(--text-size-s);
  margin-top: 1.25rem;
}
