html {
  color: #332a2a;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 100%;
}

@media only screen and (max-width: 30rem) {
  html {
    font-size: 80%;
  }
}

body {
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

button,
div,
input,
li,
p {
  font-size: 1.5rem;
}

b {
  font-weight: 500;
}

.col--main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 1.875rem;
}

.title {
  margin-top: 6.25rem;
}

.title--with-img {
  display: flex;
}

.title__img {
  margin-right: 1.25rem;
}

.main-nav {
  padding-top: 1.875rem;
  display: flex;
  justify-content: space-between;
}

.main-nav__links {
  display: flex;
  list-style: none;
  margin: 0;
}

.main-nav__links__item a,
.main-nav__links__item a:visited {
  color: #332a2a;
  text-decoration: none;
}

.main-nav__links__item--current {
  border-bottom: 5px solid #ffede5;
  padding-bottom: 5px;
  margin-bottom: -10px;
}

.main-nav__links__item:not(:first-child) {
  margin-left: 1.875rem;
}

.home__blurb {
  margin-top: 6.25rem;
}

.home__blurb__item {
  font-size: 2.25rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 30rem) {
  .home__blurb__item:not(:first-child) {
    font-size: 1.5rem;
    opacity: 0.8;
  }
}

.home__nav {
  padding: 0;
  display: flex;
  margin-top: 6.25rem;
}

.home__nav__item {
  list-style: none;
}

.home__nav__item:not(:first-child) {
  margin-left: 3.125rem;
}

.home__nav__item a,
.photo-list__item a {
  color: #332a2a;
  text-decoration: none;
}

.home__nav__item__img {
  width: 4.75rem;
}

.home__nav__item__label {
  display: block;
  margin-top: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.photo-list__item {
  font-size: 1.75rem;
  margin-top: 6.25rem;
}

.photo-list__item img {
  display: block;
}

.photo-list__img-placeholder {
  position: relative;
  background: #000;
}

.photo-list__img-placeholder img {
  position: absolute;
}

.photo-list__item__label {
  display: block;
  margin-top: 1.25rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 38rem) {
  .photo-list__item {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}


@media only screen and (min-width: 36.25rem) {
  .photo-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .photo-list__item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media only screen and (min-width: 51rem) {
  .photo-list {
    justify-content: space-between;
  }

  .photo-list__item:nth-child(3n+2):last-child {
    flex: 2;
    display: flex;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 60rem) {
  .photo-list {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  .photo-list__item {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
